@font-face {
font-family: "Dosis";
src: url("https://fonts.gstatic.com/s/dosis/v17/HhyJU5sn9vOmLxNkIwRSjTVNWLEJN7Ml1RMEfq4.woff2") format("woff2"),
url("{{site.baseurl}}/assets/fonts/dosis-regular-webfont.woff") format("woff"),
url("{{site.baseurl}}/assets/fonts/dosis-regular-webfont.woff2") format("woff2"),
url("{{site.baseurl}}/assets/fonts/dosis-regular-webfont.ttf") format("ttf");
}

/* Ostrich Sans */
@font-face {
    font-family: "Ostrich Sans";
    src: url("../fonts/ostrichsans-medium.eot");
    src: url("../fonts/ostrichsans-medium.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ostrichsans-medium.woff2") format("woff2"),
         url("../fonts/ostrichsans-medium.woff") format("woff"),
         url("../fonts/ostrichsans-medium.ttf") format("truetype"),
         url("../fonts/ostrichsans-medium.svg#ostrich_sansmedium") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* Ostrich Sans */
@font-face {
    font-family: "Ostrich Sans Black";
    src: url("../fonts/ostrich-sans-black-webfont.eot");
    src: url("../fonts/ostrich-sans-black-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ostrich-sans-black-webfont.woff2") format("woff2"),
         url("../fonts/ostrich-sans-black-webfont.woff") format("woff"),
         url("../fonts/ostrich-sans-black-webfont.ttf") format("truetype"),
         url("../fonts/ostrich-sans-black-webfont.svg#ostrich_sansblack") format("svg");
    font-weight: normal;
    font-style: normal;

}
