<!-- About Section -->
<about>
    <section id="about">
        <div class="container">
            <div class="row">
              <div class="col-lg-4 text-center aboutimage">
                <img src= "{{site.baseurl}}/assets/img/plastic_fern_studios_logo_for_light_bg-small.png" width = 300px alt = "Plastic Fern Logo">
              </div>
                <div class="col-lg-8 text-center">
                    <h2 class="section-heading">Who We Are</h2>
                    <img src= "{{site.baseurl}}/assets/img/vine.png" height = 30px>
                    <br>
                    <br>
                    <div class="text-left">
                      <p class="large"><strong>Plastic Fern</strong> is a multi-faceted studio that provides tools, insights, and deliverables to help you
ship your game. From porting to release management, audio and QA, our veteran team has vast
experience across nearly all platforms, and understands the intricacies involved with launch.
We believe in building relationships collaborative with our clients, fostering clear and honest
communication while saving you time, money, mistakes, and hassle.</p>
                    </div>
                </div>

            </div>
    </section>
    </about>
