<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{{site.baseurl}}/#page-top"> <img class="headerlogo" src= "{{site.baseurl}}/assets/img/plastic_fern_studios_logo_for_light_bg-small.png" alt = "Plastic Fern Logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/release-management/">Release Management</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/porting/">Porting</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/quality-assurance/">QA</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/audio">Audio</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<!-- Audio Section -->
<audio-sub>
    <section id="Audio-sub">
        <div class="container">
          <div class="row pagehead">
          <div class="col-sm-4 pagehead">

                <img class="centered subheader" src= "{{site.baseurl}}/assets/img/audio_illustration.png" alt = "Release Manegement Logo of mountain with finish line">
              </div>
              <div class="col-sm-8 subtext pagehead">
                <h2 class="section-heading-left">Audio</h2>
                <p class="large"> Description about Audio goes here! </p>
              </div>
              </div>
              </section>

              <section id="bottomsection">
              <div class="row">
I think I need to make another image
              </div>
    </section>
</audio-sub>
