<!-- Clients Aside -->
    <section id ="clients">
        <div class="container">
          <div class="row text-centered">
            <h2 class="section-heading">Clients</h2>
              <img class="text-centered" src= "{{site.baseurl}}/assets/img/vine.png" height = 30px>
          </div>
          <br>
          <!-- Desktop carousel -->
          <div class="row desktopcarousel display-flex">
            <div class="col-md-12">
              <div class="carousel slide" id="myCarousel">
                <div class="carousel-inner">
                  <div class="item active">
                    <div class=row>
                      <div class="col-xs-4 dividers client">
                        <p class="text-secondary"><i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i>  They seemed like members of the team who had been working in the project for years after only a few weeks. On top of being technical wizards, the team was also a pleasure to work with. We will unquestionably be using their services for future projects.</p>
                        <p class="large">Rich Siegel, Founder <br> <i>Cleaversoft</i></p>
                        <img src= "{{site.baseurl}}/assets/img/cleaversoft.png" class = "logo">
                      </div>
                      <div class="col-xs-4 dividers client">
                        <p class="text-secondary"> <i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i>  While Untitled Goose Game is all about chaos and causing problems, on the software side we wanted quite the opposite. Plastic Fern helped us feel confident that the Goose was polished and perfect, taking a huge weight off our collective shoulders.</p>
                        <p class="large">Cabel Sasser, Co-founder<br> <i>Panic, inc.</i></p>
                        <img src= "{{site.baseurl}}/assets/img/panic-logo.png" class = "logo" width="100px">
                      </div>
                      <div class="col-xs-4 dividers client">
                        <p class="text-secondary"> <i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i>  The Plastic Fern folks are amazingly thorough, precise, and flexible. We've been super impressed!</p>
                        <p class="large">Jamie Cheng, Founder<br> <i>Klei Entertainment</i></p>
                        <img src= "{{site.baseurl}}/assets/img/Klei.png" class = "logo">
                      </div>
                    </div>
                  </div>
                    <div class="item">
                      <div class="col-xs-4 dividers client">
                        <p class="text-secondary"> <i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i>  Releasing your first commercial game is scary. Getting through console submission is scarier. I learned so much about proper QA and certification working with Plastic Fern, and I hope we never have to go through launching a game without them!</p>
                        <p class="large">Corey Warning, Co-founder<br> <i>Rose City Games</i></p>
                        <img src= "{{site.baseurl}}/assets/img/rosecitylogo.png" class = "logo">
                      </div>
                      <div class="col-xs-4 dividers client">
                        <p class="text-secondary"> <i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i>  Plastic Fern provides highly experienced, intelligent, and responsive testers.  They jump right into the communication tools / databases our team uses and provide daily communication, giving our team with the support we need, on demand.</p>
                        <p class="large">Gavin Simon, Co-founder<br> <i>Supergiant Games</i></p>
                        <img src= "{{site.baseurl}}/assets/img/supergiantlogo.png" class = "logo">
                      </div>
                      <div class="col-xs-4 dividers client">
                        <p class="text-secondary"> <i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i>  Plastic Fern was friendly and easy to work with. Their communication was helpful and provided different ways for us to approach the title. They ended up being a super high value for us!</p>
                        <p class="large">Zach Johnson, Co-founder<br> <i>Space Mace Games</i></p>
                        <img src= "{{site.baseurl}}/assets/img/logo-space-mace.png" class = "logo">
                      </div>
                    </div>
                    <div class="item">
                      <div class="col-xs-4 dividers client">
                        <p class="text-secondary"> <i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i>  Invaluable through the submission process for Vane and talented at finding bugs in the nooks and crannies. Thanks to their help, Vane passed PS4 submission on the first try and they were great at rolling with our irregular schedule. Given the chance, I'd hire Jay and his team in a heartbeat.</p>
                        <p class="large">Matt Smith, Co-Founder<br> <i>Friend & Foe</i></p>
                        <img src= "{{site.baseurl}}/assets/img/FriendAndFoe.jpg" class = "logo">
                      </div>
                      <div class="col-xs-4 dividers client">
                        <p class="text-secondary"> <i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i>  Working with Plastic Fern was painless! I got detailed reports as I needed them and never felt out of the loop with the issues the team was finding. I liked their transparency in process, fair pricing, thorough testin, and open communication!</p>
                        <p class="large">Dave Proctor, Producer<br> <i>Graffiti Games (Previous)</i></p>
                        <img src= "{{site.baseurl}}/assets/img/graffitilogo.png" class = "logo">
                      </div>
                      <div class="col-xs-4 dividers client">
                        <p class="text-secondary"> <i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i> They have more knowledge than any other studio I've worked with, allowing them to make better judgement calls and their results have led to the deepest level of trust I've ever built with a partner team.</p>
                        <p class="large">Morgan Wren, QA/Production<br> <i>Supergiant Games (Previous)</i></p>
                        <img src= "{{site.baseurl}}/assets/img/supergiantlogo.png" class = "logo">
                      </div>
                    </div>
                </div>
          <!-- add  more items here -->
              </div>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left fa-2x"></i></a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right fa-2x"></i></a>
                </div>
                </div>
                <!-- Mobile carousel -->
                <div class="row mobilecarousel">
                  <div class="carousel"
                    data-flickity='{ "wrapAround": true }'>
                    <div class="carousel-cell">
                      <p class="text-secondary"><i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i>  They seemed like members of the team who had been working in the project for years after only a few weeks. On top of being technical wizards, the team was also a pleasure to work with. We will unquestionably be using their services for future projects.</p>
                      <p class="large">Rich Siegel, Founder <br> <i>Cleaversoft</i></p>
                      <img src= "{{site.baseurl}}/assets/img/cleaversoft.png" class = "logo">
                    </div>
                    <div class="carousel-cell">
                      <p class="text-secondary"> <i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i>  While Untitled Goose Game is all about chaos and causing problems, on the software side we wanted quite the opposite. Plastic Fern helped us feel confident that the Goose was polished and perfect, taking a huge weight off our collective shoulders.</p>
                      <p class="large">Cabel Sasser, Co-founder<br> <i>Panic, inc.</i></p>
                      <img src= "{{site.baseurl}}/assets/img/panic-logo.png" class = "logo" width="100px">
                    </div>
                    <div class="carousel-cell">
                      <p class="text-secondary"> <i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i>  The Plastic Fern folks are amazingly thorough, precise, and flexible. We've been super impressed!</p>
                      <p class="large">Jamie Cheng, Founder<br> <i>Klei Entertainment</i></p>
                      <img src= "{{site.baseurl}}/assets/img/Klei.png" class = "logo">
                    </div>
                    <div class="carousel-cell">
                      <p class="text-secondary"> <i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i>  Releasing your first commercial game is scary. Getting through console submission is scarier. I learned so much about proper QA and certification working with Plastic Fern, and I hope we never have to go through launching a game without them!</p>
                      <p class="large">Corey Warning, Co-founder<br> <i>Rose City Games</i></p>
                      <img src= "{{site.baseurl}}/assets/img/rosecitylogo.png" class = "logo">
                    </div>
                    <div class="carousel-cell">
                      <p class="text-secondary"> <i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i>  Plastic Fern provides highly experienced, intelligent, and responsive testers.  They jump right into the communication tools / databases our team uses and provide daily communication, giving our team with the support we need, on demand.</p>
                      <p class="large">Gavin Simon, Co-founder<br> <i>Supergiant Games</i></p>
                      <img src= "{{site.baseurl}}/assets/img/supergiantlogo.png" class = "logo">
                    </div>
                    <div class="carousel-cell">
                      <p class="text-secondary"> <i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i>  Plastic Fern was friendly and easy to work with. Their communication was helpful and provided different ways for us to approach the title. They ended up being a super high value for us!</p>
                      <p class="large">Zach Johnson, Co-founder<br> <i>Space Mace Games</i></p>
                      <img src= "{{site.baseurl}}/assets/img/logo-space-mace.png" class = "logo">
                    </div>
                    <div class="carousel-cell">
                      <p class="text-secondary"> <i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i>  Invaluable through the submission process for Vane and talented at finding bugs in the nooks and crannies. Thanks to their help, Vane passed PS4 submission on the first try and they were great at rolling with our irregular schedule. Given the chance, I'd hire Jay and his team in a heartbeat.</p>
                      <p class="large">Matt Smith, Co-Founder<br> <i>Friend & Foe</i></p>
                      <img src= "{{site.baseurl}}/assets/img/FriendAndFoe.jpg" class = "logo">
                    </div>
                    <div class="carousel-cell">
                      <p class="text-secondary"> <i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i>  Working with Plastic Fern was painless! I got detailed reports as I needed them and never felt out of the loop with the issues the team was finding. I liked their transparency in process, fair pricing, thorough testin, and open communication!</p>
                      <p class="large">Dave Proctor, Producer<br> <i>Graffiti Games (Previous)</i></p>
                      <img src= "{{site.baseurl}}/assets/img/graffitilogo.png" class = "logo">
                    </div>
                    <div class="carousel-cell">
                      <p class="text-secondary"> <i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i> They have more knowledge than any other studio I've worked with, allowing them to make better judgement calls and their results have led to the deepest level of trust I've ever built with a partner team.</p>
                      <p class="large">Morgan Wren, QA/Production<br> <i>Supergiant Games (Previous)</i></p>
                      <img src= "{{site.baseurl}}/assets/img/supergiantlogo.png" class = "logo">
                    </div>
                  </div>
                </div>
              </div>
  </section>
