<!-- Clients Aside -->
    <section id ="clients">
        <div class="container">
          <div class="row text-centered">
            <h2 class="section-heading">Clients</h2>
              <img class="text-centered" src= "{{site.baseurl}}/assets/img/vine.png" height = 30px>
          </div>
          <br>
          <div class="row display-flex">
            <div class="col-md-12">
              <div class="carousel slide multi-item-carousel" id="theCarousel">
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="col-xs-4 client">
                      <p class="text-secondary"><i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i>  They seemed like members of the team who had been working in the project for years after only a few weeks. On top of being technical wizards, the team was also a pleasure to work with. We will unquestionably be using their services for future projects.</p>
                      <p class="large">Rich Siegel, Founder <br> <i>Cleaversoft</i></p>
                      <img src= "{{site.baseurl}}/assets/img/cleaversoft.png" class = "logo">
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-xs-4 client">
                    <p class="text-secondary"> <i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i>  Invaluable through the submission process for Vane and talented at finding bugs in the nooks and crannies. Thanks to their help, Vane passed PS4 submission on the first try and they were great at rolling with our irregular schedule. Given the chance, I'd hire Jay and his team in a heartbeat.</p>
                    <p class="large">Matt Smith, Co-Founder<br> <i>Friend & Foe</i></p>
                    <img src= "{{site.baseurl}}/assets/img/FriendAndFoe.jpg" class = "logo">
                  </div>
                  </div>
                  <div class="item">
                    <div class="col-xs-4 client">
                    <p class="text-secondary"> <i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i>  The Plastic Fern folks are amazingly thorough, precise, and flexible. We've been super impressed!</p>
                    <p class="large">Jamie Cheng, Founder<br> <i>Klei Entertainment</i></p>
                    <img src= "{{site.baseurl}}/assets/img/Klei.png" class = "logo">
                  </div>
                  </div>
                  <div class="item">
                    <div class="col-xs-4 client">
                    <p class="text-secondary"> <i class="fa fa-quote-right" aria-hidden="true" align=right" height = "100px" style="color:#2e2e2d;"></i>  Releasing your first commercial game is scary. Getting through console submission is scarier. I learned so much about proper QA and certification working with Plastic Fern, and I hope we never have to go through launching a game without them!</p>
                    <p class="large">Corey Warning, Cofounder<br> <i>Rose City Games</i></p>
                    <img src= "{{site.baseurl}}/assets/img/RoseCity.png" class = "logo">
                  </div>
                  </div>
          <!-- add  more items here -->
              </div>
              <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="fa fa-chevron-left fa-2x"></i></a>
              <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="fa fa-chevron-right fa-2x"></i></a>
                </div>
              </div>
            </div>
      </section>
