<!-- QA Section -->
<QA>
    <section id="Quality Assurance">
        <div class="container">
            <div class="row">
                <h2 class="section-heading">Quality Assurance</h2>
              </div>
                <div class="row">
                  <img class="centered" src= "{{site.baseurl}}/assets/img/quality_assurance_illustration.png" alt = "">
                </div>
                <div class="row">
                  <p class="large"> This is a page about QA and stuff! We should maybe do something here! </p>
                </div>
                <div class="row">
                  <img class="centered" src= "{{site.baseurl}}/assets/img/quality_assurance_illustration.png" alt = "Release Manegement Logo of mountain with finish line">
                </div>
            </div>
    </section>
    </QA>
