<!-- Release Management Section -->
<RM>
    <section id="Release Management">
        <div class="container">
            <div class="row">
              <h2 class="section-heading">Release Management</h2>
            </div>
              <div class="row">
                <img class="centered" src= "{{site.baseurl}}/assets/img/release_management_illustration.png" alt = "Release Manegement Logo of mountain with finish line">
              </div>
              <div class="row">
                <p class="large"> We specialize in release management, ensuring you have the necessary requirements,
              understanding, and deliverables to get your game through certification on almost any platform.

              We simplify the process of getting your game through completion to launch by providing concrete,
              tangible steps along the way while maximizing efficiency and productivity. Our veteran team has
              vast knowledge of what is required to pass, saving you time, energy, brainpower and mistakes.

              Our team looks at each project through an all-encompassing lens, providing us with valuable
              insight that maintain the original vision and integrity of the game while keeping to your desired
              timeline.</p>
              </div>
              <div class="row">
                <img class="centered" src= "{{site.baseurl}}/assets/img/release_management_chart_draft.png" alt = "What release management is and isn't">
              </div>
        </div>
    </section>
</RM>
