<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{{site.baseurl}}/#page-top"> <img src= "{{site.baseurl}}/assets/img/plastic_fern_studios_logo_for_light_bg-small.png" width = 80px alt = "Plastic Fern Logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#services">Dev Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#about">About Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#clients">Our Clients</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<!-- Release Management Section -->
<RM>
    <section id="Release Management">
        <div class="container">
            <div class="row">
              <h2 class="section-heading">Release Management</h2>
            </div>
              <div class="row">
                <img class="centered" src= "{{site.baseurl}}/assets/img/release_management_illustration.png" alt = "Release Manegement Logo of mountain with finish line">
              </div>
              <div class="row">
                <p class="large"> We specialize in release management, ensuring you have the necessary requirements,
              understanding, and deliverables to get your game through certification on almost any platform.

              We simplify the process of getting your game through completion to launch by providing concrete,
              tangible steps along the way while maximizing efficiency and productivity. Our veteran team has
              vast knowledge of what is required to pass, saving you time, energy, brainpower and mistakes.

              Our team looks at each project through an all-encompassing lens, providing us with valuable
              insight that maintain the original vision and integrity of the game while keeping to your desired
              timeline.</p>
              </div>
              <div class="row">
                <img class="centered" src= "{{site.baseurl}}/assets/img/release_management_chart_draft.png" alt = "What release management is and isn't">
              </div>
        </div>
    </section>
</RM>
